{% extends 'catalogue/base.html' %}

{% block content %}
<h1>{{ text_detail.author }}: {{ text_detail.title }}</h1>
<h2>Notes:</h2>
<p>{{ text_detail.note }}</p>

<h2>Witnesses</h2>
<ul>
  {% for item in witnesses %}
    {% if item.content.id == text_detail.id %}
      <li><a href="{% url 'manuscripts:detail' item.manuscript.id %}">{{ item.manuscript }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{{ texts }}

<h2>Project-file</h2>
<p>
    <a href="{% url 'commentaries:projectfile' text_detail.id %}">Create project file</a>
</p>
{% endblock %}

